@import 'variables';
@import 'animations';
@import 'fonts';

@import 'components/header';
@import 'components/addTodo';
@import 'components/toastMessage';
@import 'components/todoList';
@import 'components/todoItem';

// Global Theme variables
:root {
  --todosBackgroundColor: #{$veryLightGray};
  --todosTextColor: #{$veryDarkGrayishBlue};
  --hoverColor: #{$veryDarkGrayishBlue};
  --todosInfoTextColor: #{$darkGrayishBlue};
  --todosCompletedTextColor: #{$lightGrayishBlue};
  --pageBackgroundColor: #{$veryLightGray};
}

.darkmode {
  --todosBackgroundColor: #{$veryDarkDesaturatedBlue};
  --todosTextColor: #{$blightGrayishBlue};
  --hoverColor: #{$lightGrayishBlueHover};
  --todosInfoTextColor: #{$dDarkGrayishBlue};
  --todosCompletedTextColor: #{$dVeryDarkGrayishBlue};
  --pageBackgroundColor: #{$veryDarkBlue};
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem; // 16px
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  background: var(--pageBackgroundColor);
  transition: all 0.3s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 37.5rem; // 600px
  position: relative;
}

h1 {
  text-transform: uppercase;
  font-size: 2.2rem; // 32px
  letter-spacing: 0.5rem; // 8px
  color: $todoTitleColor;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  outline: inherit;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}
