@import 'variables';
@import 'animations';

html {
  font-size: 1rem;
  box-sizing: border-box;
}

body {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

button,
input,
select {
  font-size: inherit;
  border: none;
  background: none;
  font-family: inherit;
  outline: none;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}
