input {
  background-color: var(--todosBackgroundColor);
  width: $width;
  border-radius: $borderRadius;
  padding: $padding;
  color: var(--todosTextColor);
  border: none;
  letter-spacing: 0.5px;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: $boxShadow;
  outline: none;
  margin-bottom: 30px;
}
