.todo-list-item {
  padding: $padding;
  display: flex;
  align-items: center;
  background-color: var(--todosBackgroundColor);
  position: relative;

  &.completed {
    color: var(--todosCompletedTextColor);
    text-decoration: line-through;

    .todo-checker {
      background: $checkedBackround;
      border: none;
      cursor: pointer;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        background-image: url('./assets/img/icon-check.svg');
        background-size: cover;
        top: 50%;
        left: 50%;
        width: 40%;
        height: 40%;
        transform: translate(-50%, -50%);
      }
    }

    p {
      cursor: pointer;
      color: var(--todosCompletedTextColor);
    }
  }

  &:not(:last-child) {
    border-bottom: $borders;
  }

  &:hover {
    .todo-remover {
      opacity: 1;
      visibility: visible;
    }
  }

  .empty {
    width: 90%;
    height: 30px;
    position: absolute;
    cursor: grab;
    z-index: 0;
  }

  .todo-checker {
    z-index: 3;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $veryLightGrayishBlue;
    margin-right: 1rem;
  }

  p {
    z-index: 3;
    color: var(--todosTextColor);
    font-weight: 500;
    font-size: 1.1rem;
  }

  .todo-remover {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
  }
}
